body {
}

.searchMessage{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.SearchModal {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 41%;
    top: 15%;
    width: 18%;
    position: absolute;
    z-index: 10000;
}

.Searchrpr{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.hidden{
    display: none;
}